body{
    background-attachment: fixed;
    background-color: rgb(255,255,255);
}

#leadership-thought{
    text-align: center;
    margin-top: 18%;
    display: block; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: inherit;
    
}
