body{
    background-attachment: fixed;
    background-color: rgb(255,255,255);
}

#leadership-thought{
    margin-top: 0;
    display: block; 
    font-family: 'Phudu', cursive;
  font-weight: 800;
  font-style: inherit;
  font-size: 2rem;

    
}
#thought-container{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

